.header {
  width: 100%;
  padding: 30px 0;
  text-align: center;

  /* Simple gradient background */
  background: linear-gradient(90deg, #ff7e5f, #feb47b, #6a11cb, #2575fc);
}

/* Big stylish title */
.title {
  font-size: 30px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;

  /* Gradient text only */
  background: linear-gradient(90deg, #141313, #ffd700, #00c6ff, #ff00cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}